<body>
    <footer>
        <span>&copy;<small></small> <a href='https://james-mumo.000webhostapp.com/' target="_blank"> JayTech </a>| All  Rights  Reserved.</span>
    </footer>

    <script>
        document.querySelector('span small').innerHTML = new Date().getFullYear()
    </script>
</body>