<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/error500.css">
</head>
<body>
    <div class="number">500</div>
    <div class="text"><span>Ooops...Forbiden</span><br><span class="<%= classes %>"><%= warning %></span></div>
    <a class="me <%= classes %>" href="/"">home</a>
</body>
</html>